# FastAPI and server
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0


# Database
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
pgvector==0.2.4

# ML Models
numpy==1.26.4
sentence-transformers==2.2.2
transformers==4.36.0
torch==2.1.1
huggingface-hub <= 0.20.3
langdetect==1.0.9

# Wake-on-LAN
wakeonlan==1.1.6

# Utilities
python-multipart==0.0.6
requests==2.31.0

